/*	Layout 
========================*/
html, body {
	height: 100%;
	font-family: 'Lato', sans-serif;
}

section {
	height: 100%;
}

/* About Styles 
=========================*/
#about {
	background-image: linear-gradient(rgba(238, 238, 238, 0.6), rgba(238, 238, 238, 0.6)),
				      url('../img/main-bg.jpg');
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
}

.jumbotron {
	background-color: transparent;
	text-align: center;

	margin-top: 75px;
}

.jumbotron h1 {
	text-transform: uppercase;

	margin-bottom: 30px;
}

.description {
	padding-top: 20px;
}

#goals {
	text-align: center;
	
	margin-top: 20px;
}

#goals p {
	padding-top: 20px;
}

.goal-heading {
	text-transform: uppercase;
}

/* Project Styles 
==========================*/
#projects {
	background-color: #ddd;
}

#projects > .container > .row {
	display: flex;
	justify-content: space-between;
}

.project {
	background-color: #eee;
	height: 150px;
	max-width: 33%;

	margin-top: 50px;
}

/*	Typography & Icons 
========================*/

.goals-icon {
	font-size: 2em;

	padding-top: 10px;
}

#goals p {
	font-size: 1.25em;
}