.about-container {
  text-align: left;
}

.about-desc-container {
  margin: 16% auto 0;
  width: 70%;
}

.about-description {
  text-indent: 1.25em;
  font-size: 1.25em;
  word-spacing: 0.115em;

  padding: 0 56px 0;
  margin: 0;
}

.emphasis {
  font-weight: bold;
  font-size: 1.55em;
}
