@import 'variables';

html, body {
  background: $bg-color;
  color: $font-color-main;
  font-family: $web-font-main;
  height: 100%;
  margin: 0;
  width: 100%;
}

#root {
  width: 100%;
}

ul {
  padding: 0;
}

a {
  color: $font-color-main;
  text-decoration: none;
}
