@import 'variables';
@import 'extends';

#contact-title {
  text-align: center;

  margin-top: 0;
  padding-top: 88px;

  @media screen and (max-width: 360px) {
    font-size: 1.5em;

    margin-bottom: 12px;
  }
}

#contact-cta {
  font-size: 1.25em;
  text-align: center;

  padding: 0 16px 16px;

  @media screen and (max-width: 360px) {
    font-size: 1em;

    margin-bottom: 8px;
  }
}

.form-container {
  margin: 0 auto;
  width: 80%;

  @media screen and (min-width: 800px) {
    width: 50%;
  }
}

form {
  height: 40vh;
  text-align: center;

  & input {
    @extend %b-radius;
    border: none;
    font-size: 0.8em;

    padding: 8px;

    @media screen and (min-width: 800px) {
      text-align: center;
    }
  }

  & textarea {
    @extend %b-radius;
    border: none;
  }
}

#contact-info {
  margin: 0 auto 7%;
  width: 100%;

  @media screen and (min-width: 935px) {
    margin-bottom: 3%;
  }
}

#name, #replyto {
  width: 40%;
}

#name {
  margin-right: 8px;
}

#subject {
  background-color: $font-color-main;
  color: $bg-color;
  margin-left: 8px;
  margin-top: 8px;
}

#message {
  display: block;
  margin: 5% auto 5%;
  height: 70%;
  width: 100%;

  @media screen and (min-width: 600px) {
    margin-bottom: 3%;
  }

  @media screen and (min-width: 1000px) {
    max-width: 85%;
  }
}

#submit {
  @extend %b-radius;
  background-color: $font-color-main;
  height: 40px;
  width: 80px;

  &:hover {
    cursor: pointer;
  }
}
