@import 'variables';

.social-links {
  position: fixed;
  bottom: 48px;
  margin: 0 auto;
  width: 100%;

  @media screen and (max-width: 50em) {
    background-color: $font-color-main;
    bottom: 0px;
    position: fixed;
    height: 40px;
  }
}

.social-icons {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-around;

  margin: 0 auto;
  width: 80%;

  & > li {
    list-style-type: none;
  }

  & > li > a {
    text-decoration: none;
  }
  @media screen and (max-width: 50em) {
    height: 100%;
    align-items: center;
  }
}

.fa {
  font-size: 1.5em;

  @media screen and (max-width: 50em) {
    color: $bg-color;
  }
}
