h2 {
  text-align: center;
  margin-top: 0;
  padding-top: 72px;
}

#featured-projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.featured-project {
  margin-top: 32px;
  margin-bottom: 32px;
}
