@import 'variables';

.projects-title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 48px;
  padding-top: 72px;
  text-transform: uppercase;
}

#featured-projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 80%;
  margin: 0 auto;
}

.featured-project {
  margin-top: 32px;
  margin-bottom: 32px;
  margin-right: 5px;
  position: relative;

  &:hover {
    .project-desc {
      background-color: rgba(0,0,0,0.65);
      opacity: 1;
    }
  }

  & a img {
    border-radius: 5px;
  }
}

.project-desc {
  box-sizing: border-box;
  color: $font-color-main;
  font-size: 1.25em;
  height: 228px;
  opacity: 0;
  padding: 5px;
  position: absolute;
  text-align: center;
  transition: opacity 0.5s linear,
              background-color 0.2s linear;
  bottom: 0;
  width: 384px;
}
