// Color Variables
$bg-color: #01090A;
$font-color-main: darken(#EFF1F4, 10%);

// $bg-color: #EFF1F4;
// $font-color-main: #01090A;

// Font Variables
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');
$web-font-main: 'Lato';
